body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif; /* Definindo uma fonte genérica */
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 15px;
    gap: 15px; /* Aumentando o espaçamento entre os itens */
}

#item-artigo {
    border: 1px solid #ddd; /* Reduzindo a largura da borda e suavizando a cor */
    padding: 10px;
    background-color: #f9f9f9; /* Suavizando a cor de fundo */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinhando o conteúdo à esquerda e à direita */
}

#item-artigo > div {
    overflow: hidden;
    white-space: nowrap;
}

#item-artigo > div > p {
    margin: 0;
}

#item-artigo > button {
    padding: 8px 15px; /* Aumentando o preenchimento do botão */
    border: none;
    border-radius: 5px;
    background-color: #4caf50; /* Mudando a cor do botão para verde */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s; /* Adicionando uma transição suave */
}

#item-artigo > button:hover {
    background-color: #45a049; /* Mudando a cor do botão ao passar o mouse */
}