/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  --backgroundColor: #FFE352;
  --buttonColor: #FFD600;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

#contentBody {
  min-height: 100%;
}

button, a {
  border-radius: 7px;
  background-color: var(--buttonColor);
  border: none;
  color: black;  
  height: 100%;  
  cursor: pointer;
}

.btnsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}